.table {
  font-family: Arial, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

.table td, 
.table th {
  border: 1px solid #fff;
  text-align: left;
  padding: 8px;
}

.tr:nth-child(even) {
  background-color: #fff;
}

.amarillo {
  background-color: yellow;
}

.rojo {
  background-color: red;
}

.svg {
  font-size: 10px;
}
